@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Noto+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Style the header */
.total-body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.topper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  cursor: grab;
  z-index: 10;
  padding: 10px 16px;
  /* margin-left: 5px; */
}

/* Style the left section (menu toggle) */
.left {
  flex: 1;
  margin-bottom: 8px;
}
#menu-btn {
  font-size: 14px;
  font-weight: lighter;
  color: #7a7a7a;
  border-radius: 7px;
  background-color: #ececf4;
  border: 1px #d6d6d6;
  padding: 10px 12px;
}

.middle {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
}


.middle-btn {
  justify-content: space-between;
  display: flex;
  align-items: center; /* Center the icons vertically within the flex container */
  margin: 5px 0;
  padding: 2px 0;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 10px -1px rgba(71, 62, 62, 0.24);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(71, 62, 62, 0.24);
  -moz-box-shadow: 0px 0px 10px -1px rgba(71, 62, 62, 0.24);
}

.middle-btn button {
  padding: 10px 8px;
  border: none;
  margin: 2px;
}
button{
  background: transparent;
}
.middle-btn button i {
  color: #515154;
  border: none;
  height: 100%; /* Set the icon height to 100% */
  font-size: 15px;
  font-weight: bolder;
}

.list-item {
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  background-color: #e0dfff; /* Set the background color */
  border-radius: 8px;
}
.lock{
  margin-inline: 2px;
}
.v-line {
  height: 25px;
  border-left: 1px solid #f1f0ff;
  margin: 5px 0; /* Adjust margin for spacing between the vertical lines */
}

.middle-btn button:hover {
  cursor: pointer;
  background-color: #eaedff;
  border-radius: 8px;
  height: auto;
  width: auto;
}
.sn {
  padding-left: 2px;
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
  color: #515154;
  font-weight: 100;
}

/* Style the right section (collaboration and library icons) */
.right {
  flex: 1;
  text-align: right;
  padding-right: 28px;
 
}

#collaboration {
  background: none;
  border: none;
  margin-right: 5px;
  background-color: #6965db; /* Set the background color */
  border-radius: 7px;
}
#collaboration i {
  padding: 13px 11px;
}
#collaboration :hover {
  background-color: #4b46da;
  cursor: pointer;
  border-radius: 7px;
}
#library {
  background: none;
  border: none;
  margin-inline: 4px;
  color: #676767;
  border: 1px #d6d6d6;
  background-color: #ececf4;
  border-radius: 7px;
  font-size: 12px;
  font-weight: lighter;
  padding: 12px 10px;
}

#library:hover {
  background-color: #d6d5f4;
  cursor: pointer;
}
.fa-book-open {
  padding-right: 10px;
  font-family: "Titillium Web", sans-serif;
}
.header-text {
  text-align: center;
  font-size: 12px;
  color: #bbbbbb;
  font-family: "Mukta", sans-serif;
  margin-top: 70px;
}

/* ----------------------------main-Style-------------------------- */
#canvas{
  cursor: grab;
}

.centered-content {
  display: flex;
  align-items: center; /* Change to move the content up */
  justify-content: center;
  height: calc(70vh - 60px);
  width: 40%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}

.center-column {
  text-align: center;
}

/* Heading and sub-heading styles */
.heading h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  color: #190064;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 10px;
  transform: skewX(20deg);
  letter-spacing: 0.3mm;
}
.pen-ruler {
  margin-right: 5px;
  height: 65px;
  width: 65px;
  transform: skewX(-20deg);
}
.sub-heading h2 {
  font-size: 19px; /* Increase font size */
  color: #b8b8b8;
  margin-bottom: 15px;
  font-family: "Over the Rainbow", cursive;
  letter-spacing: 0.1mm;
}

/* Unordered list styles */
.options ul {
  list-style: none;
  padding: 10px;
}

.options ul li {
  align-items: center;
  color: #999999;
  font-family: "Mukta", sans-serif;
  text-align: left;
  padding-inline: 30px;
}
.options ul li i {
  margin-right: 14px;
  font-size: 12px 15px; /* Adjust the size as needed */
}
.options li :hover {
  background-color: #e9e9fc;
  border-radius: 7px;
}
.options .space a:hover {
  color: black;
}
.options a {
  text-decoration: none;
  font-size: small;
  color: #999999;
  display: inline-block;
  font-family: "Mukta", sans-serif;
}
.gift-icon {
color: transparent;
-webkit-text-stroke: 0.8px #515154;
font-weight:bold;
}

.options ul li .space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  color: #999999;
  margin-bottom: 5px;
  font-family: "Mukta", sans-serif;
}
.options ul li .space a {
  text-decoration: none;
  color: #999999;
  font-family: "Mukta", sans-serif;
}

.options ul li .space p {
  margin: 0;
  font-size: small;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 5px; /* Stick it to the bottom of the viewport */
  width: 100%;
}

.f-div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 5px;
  margin-left: 4px;
}

/* Style for the individual footer divs */
.footer-div1 {
  display: flex; /* Make .footer-div1 a flex container */
  justify-content: space-between; /* Space the contents within .footer-div1 */
  align-items: center; /* Center align the contents vertically */
  text-align: left;
  border: 0.5px #d6d6d6;
  border-radius: 7px;
  background-color: #ececf4;
  cursor: pointer;
}

.footer-icons {
  border: 0.5px #d6d6d6;
  border-radius: 8px;
  align-items: center;
  background-color: #ececf4;
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.footer-icons span {
  color: #505055;
}
.footer-icons span i {
  padding: 12px;
}
.footer-icons span .fa-minus {
  font-size: 13px;
  padding-right: 15px;
}
.footer-icons span .fa-plus {
  font-size: 13px;
  padding-left: 15px;
  margin-left: 5px;
  font-weight: lighter;
}

.footer-div1 i {
  padding: 9px;
}
.footer-icons > span .fa-plus:hover {
  background-color: #d6d5f4;
  border-radius: 0 7px 7px 0;
}
.footer-icons > span .fa-minus:hover {
  background-color: #d6d5f4;
  border-radius: 7px 0 0 7px;
}
.footer-div1 .redo:hover {
  background-color: #d6d5f4;
  border-radius: 0 7px 7px 0;
}
.footer-div1 .undo:hover {
  background-color: #d6d5f4;
  border-radius: 7px 0 0 7px;
}
.footer-div1 i.undo,
.footer-div1 i.redo {
  font-size: 18px;
  color: #505055;
}

/* Style for the collaboration and library buttons in the third div */
.footer-div3 {
  text-align: right;
  display: flex; /* Make .footer-div1 a flex container */
  justify-content: space-between; /*Space the contents within .footer-div1*/
  align-items: center; /* Center align the contents vertically */
  padding: 8px;
}

.collaboration1 {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 7px;
}

.collaboration1 i {
  font-size: 19px;
  color: #6965db;
  margin-right: 8px;
  padding: 5px;
}

#library1 i {
  font-size: 17px;
  color: black;
  font-weight: 100;
  padding: 9.5px;
}

/* Additional styling for the library button */
#library1 {
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  margin-right: 8px;
  color: #676767;
  border: 1px #d6d6d6;
  border-radius: 7px;
  background-color: #ececf4;
}
#library1:hover {
  background-color: #d6d5f4;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (max-width: 767px) {
}
